<label class="row">
    <p-checkbox [formControl]="control" [binary]="true"></p-checkbox>
    <span> Могут участвовать только субъекты малого и среднего предпринимательства </span>
    <div class="smp">
        <img src="/assets/icons/icon-msp-deal-header.svg">
    </div>
</label>
<button pButton type="button" class="p-button-text p-button-icon-only p-button-rounded p-button-secondary"
    icon="pi pi-question-circle" tooltipPosition="top" tooltipEvent="focus"
    pTooltip="Особенности участия субъектов малого и среднего предпринимательства = Торги только для субъектов МСП">
</button>