:host {
    display: flex;
    align-items: center;
    gap: 12px;

    label {
        align-items: center;
    }

    .smp {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 12px 14px;
        background-color: var(--surface-100);
        border-radius: 50%;
    }
}