:host {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    display: flex;
    align-items: center;
    gap: 3px;

    input {
        margin-right: 6px;
    }
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ccc;

    &.red {
        background-color: red;
    }

    &.green {
        background-color: green;
    }

    &.blue {
        background-color: blue;
    }

    &.yellow {
        background-color: yellow;
    }
}