dist/
coverage/
tmp/
out-tsc/
bazel-out/
node_modules/
.vscode/
.idea/
libs/
*.txt
**/*.d.ts
*.ico
*.bat
*.svg
*.jpg
*.png
*.gif
*.jpeg
*.eot
*.woff2
*.gitkeep
*.cmd
*.md
.editorconfig
.gitignore
.prettierignore
browserslist
browserslist
git