:host {
    display: flex;
    flex-direction: column;
    background-color: var(--surface-200);
    padding: 24px;

    .wrap {
        border-radius: 6px;
        padding: 24px;
        background-color: white;
    }
}

.tooltip {
    .pi.rounded {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--surface-200);
    }
}