:host {
    display: flex;
    flex-direction: column;
    gap: 6px;

    label {
        align-items: center;
    }

    p-multiselect::ng-deep {
        .p-multiselect {
            min-width: 50%;
            max-width: 100%;
        }
    }
}