:host {
    background-color: var(--surface-ground);
    margin-bottom: 24px; 

    .wrap {
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        border-radius: 6px;
    }
}