:host {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    input {
        // flex: 0 1 45%;
        width: calc(50% - 12px);
        padding: 8px;
        border-radius: 6px;
        border: solid 1px #dcdcdc;
    }
}