<div formArrayName="products" class="products col">
    <h4> Products </h4>
    <div *ngFor="let item of productArrayItems; let i = index" [formGroupName]="i" class="products-item col">
        <div class="col">
            <label> Product name </label>
            <input pInputText type="text" formControlName="name">
        </div>
        <div class="col">
            <label> Produuct price </label>
            <p-inputNumber formControlName="price"></p-inputNumber>
        </div>

        <button pButton type="button" icon="pi pi-trash" (click)="removeAt(i)"
            class="p-button p-button-rounded p-button-outlined"></button>
    </div>


    <button pButton type="button" label="Add product" icon="pi pi-plus" class="p-button p-button-outlined"
        (click)="add()"> </button>
</div>