<div class="wrap container col">
    <h2> Все закупки </h2>
    <div class="filters">
        <filter-status></filter-status>
        <filter-msp></filter-msp>
        <filter-customer-organizer></filter-customer-organizer>
        <filter-order-id></filter-order-id>
        <filter-price></filter-price>
        <filter-delivery-regions></filter-delivery-regions>
        <filter-okpd2></filter-okpd2>
        <filter-immediate></filter-immediate>

        <div class="ya-filters-dates">
            <h5> ДАТА ПУБЛИКАЦИИ </h5>
            <filter-publication-date-from></filter-publication-date-from>
            <filter-publication-date-to></filter-publication-date-to>
        </div>

        <hr>

        <filter-import-phaseout></filter-import-phaseout>
        <filter-in-stock></filter-in-stock>
        <filter-country></filter-country>
    </div>

    <div class="catalog"></div>
</div>