.wrap {
    gap: 24px;
}

.r1 {
    justify-content: flex-end;
}

.r2 {
    justify-content: space-between;

    .right {
        align-items: center;

        &-item {
            align-items: center;
        }
    }
}

.offers {
    gap: 0;
}

:host {
    ::ng-deep {
        .p-panel {
            border: solid 1px #efefef;
            background-color: #FFFFFF;
            box-shadow: 0px 3px 6px rgba(55, 65, 72, 0.08);
            border-radius: 8px;

            .p-panel-icons-end {
                display: none;
            }

            .p-panel-content {
                background-color: #fafafa;
            }
        }

        .property-title {
            font-weight: 500;
            font-size: 11px;
            line-height: 1.5;
            text-transform: uppercase;
            color: #A3AAB5;
        }
    }
}

.footer {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 24px 0;
    margin-top: 40px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06);

    &-inner {
        justify-content: flex-end;
        align-items: center;
    }
}


.in-progress {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .24);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white;
}