:host {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: solid 1px #efefef;

    &>* {
        padding: 12px;
    }

    .data {
        flex: 1 1;
    }

    .doc {
        width: 100px;
    }

    .price {
        width: 15%;
    }

    .created {
        color: #79CC38;
    }
}