<div class="index"> {{index}} </div>
<div class="data col">
    <div class="data-name"> {{product.name}} </div>
    <div class="data-offer-counter"></div>
</div>
<div class="price col">
    <div class="property-title">Цена за ед.</div>
    <div class="property-value">{{product.price |currency}}</div>
</div>
<div class="qty col">
    <div class="property-title">Кол-во</div>
    <div class="property-value">{{product.quantity}} {{product.shortOkeiName}}</div>
</div>
<div class="sum col">
    <div class="property-title">Сумма c НДС (20%)</div>
    <div class="property-value">{{product.sum |currency}}</div>
</div>